{% load staticfiles i18n  %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{% static 'img/profile.png' %}" alt="">
                    <div class="intro-text">
                        <span class="name">{% trans "他在等你 你在等我 我在等誰?" %}</span>
                        <hr class="star-light">
                        <span class="skills">{% trans "今天誰請客" %} </span>
                    </div>
                </div>
            </div>
        </div>
    </header>